In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/melbourne.csv')

In [ ]:
df.shape

(23547, 21)

In [ ]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [ ]:
df.isnull().sum().sum()

66918

In [ ]:
precent_of_missing_value = round(100*(df.isnull().sum()/len(df.index)), 2) 
print(precent_of_missing_value)

Suburb            0.00
Address           0.00
Rooms             0.00
Type              0.00
Price            21.88
Method            0.00
SellerG           0.00
Date              0.00
Distance          0.00
Postcode          0.00
Bedroom2         19.03
Bathroom         19.04
Car              19.65
Landsize         26.06
BuildingArea     57.46
YearBuilt        50.99
CouncilArea      33.51
Lattitude        18.28
Longtitude       18.28
Regionname        0.00
Propertycount     0.00
dtype: float64

In [ ]:
df = df.drop(['BuildingArea', 'YearBuilt', 'CouncilArea'], axis = 1)
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
# Remove all the rows where there is a mssing value in the price, Landsize column

df = df[~np.isnan(df['Price'])]

In [ ]:
df = df[~np.isnan(df['Landsize'])]

In [ ]:
precent_of_missing_value = round(100*(df.isnull().sum()/len(df.index)), 2) 
print(precent_of_missing_value)

Suburb           0.00
Address          0.00
Rooms            0.00
Type             0.00
Price            0.00
Method           0.00
SellerG          0.00
Date             0.00
Distance         0.00
Postcode         0.00
Bedroom2         0.00
Bathroom         0.01
Car              0.46
Landsize         0.00
Lattitude        0.16
Longtitude       0.16
Regionname       0.00
Propertycount    0.00
dtype: float64

In [ ]:
# describing the value for latitude and longitude

df[['Longtitude', 'Lattitude']].describe()
# observing quartile we can use mean func

         Longtitude     Lattitude
count  13581.000000  13581.000000
mean     144.995221    -37.809204
std        0.103913      0.079257
min      144.431810    -38.182550
25%      144.929600    -37.856820
50%      145.000100    -37.802360
75%      145.058320    -37.756400
max      145.526350    -37.408530

In [ ]:
# as there minor difference between min, max, mean,25%,50%,75% quartile
# so we can use mean functin to impute the values in lattitude and longittude
df['Longtitude'] = df['Longtitude'].fillna(df['Longtitude'].mean())
df['Lattitude'].fillna(df['Lattitude'].mean(), inplace=True)

In [ ]:
df['Bathroom'].value_counts()

1.0    7517
2.0    4987
3.0     921
4.0     106
0.0      34
5.0      28
6.0       5
7.0       2
8.0       2
Name: Bathroom, dtype: int64

In [ ]:
df['Car'].value_counts()

2.0     5606
1.0     5515
0.0     1026
3.0      748
4.0      507
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: Car, dtype: int64

In [ ]:
# we have to impute the null values in categorical columns using the mode function

df['Bathroom'].fillna(df['Bathroom'].mode()[0], inplace=True)
df['Car'].fillna(df['Car'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum().sum()

0